* {
    margin: 0;
    padding: 0;
}
.groupPage_form{
    border: 2px solid #000000;
    background-color: #000000;
    img{
        height: 40%;
        width: 40%;
        align-self: center;
    }
    h1{
        color: #ffffff;
    }
}

.groupPage{
    padding-top: 150px;
    width: 100%;
    height: 160vh;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
    &_form {
        padding: 20px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 7px;
        border: #04ff00;
        box-shadow: 4px 4px 10px #04ff00;

        h1 {
            margin-bottom: 45px;
            text-align: center;
            width: 100%;
            color: #ffffff;
        }

        label {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #ffffff;
        }
        input {
            width: 540px;
            height: 40px;
            margin-bottom: 30px;
            border: 2px solid #ffffff;
            border-radius: 4px;
        }
        h2{
            color: #04ff00;
        }
        p{
            color: #ffffff;
        }
    }
}